/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
/** Code start here **/
/** MIXINS **/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/** COLORS **/
/** GENERAL **/
body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/** HEADER **/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10%;
  background-color: #008448;
}
header h1 {
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
  color: #FDFDFD;
}
header nav a {
  font-size: 1.6rem;
  color: #FDFDFD;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
}
header nav a:hover {
  color: #008448;
  background-color: #D0F6E5;
  transition: all ease-in-out 0.5s;
}
@media only screen and (max-width: 500px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
  }
  header nav {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header h1 {
    font-size: 2rem;
  }
  header nav a {
    font-size: 1rem;
    padding: 1rem 10rem;
  }
}
.intro {
  background: linear-gradient(#008448, transparent 40%), linear-gradient(0deg, #FDFDFD, transparent), url('../images/img-1.jpg') no-repeat center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 90vh;
}
.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30rem;
}
.intro-text h3 {
  font-size: 6rem;
  color: #0F1211;
  filter: none;
  margin-bottom: 1rem;
  text-align: center;
}
.intro-text p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .intro-text {
    padding: 10rem;
  }
  .intro-text h3 {
    font-size: 3rem;
  }
  .intro-text p {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    line-height: 1.2;
  }
}
.content {
  background-color: #FDFDFD;
}
.content-intro {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-intro h4 {
  font-size: 3rem;
  text-align: center;
}
.content-intro p {
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
}
.content-intro-list {
  background-color: #D0F6E5;
  padding: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
  .content-intro h4 {
    font-size: 1.5rem;
  }
  .content-intro p {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}
.skills {
  background-color: #D0F6E5;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FDFDFD;
  height: auto;
  width: 50rem;
  margin: 5rem 5rem;
}
@media only screen and (max-width: 500px) {
  .skills-box {
    width: 80%;
    height: auto;
  }
}
.skills-text {
  padding: 3rem;
}
@media only screen and (max-width: 500px) {
  .skills-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.skills-text h3 {
  font-weight: 600;
}
.skills-text p {
  line-height: 2;
}
.skills .skills-one {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.skills .skills-one .pic-1 {
  background: url('../images/pic01.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 30rem;
}
@media only screen and (max-width: 500px) {
  .skills .skills-one .pic-1 {
    width: 100%;
    height: 15rem;
  }
}
.skills .skills-two {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.skills .skills-two .pic-2 {
  background: url('../images/pic02.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 30rem;
}
@media only screen and (max-width: 500px) {
  .skills .skills-two .pic-2 {
    width: 100%;
    height: 15rem;
  }
}
.skills .skills-three {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.skills .skills-three .pic-3 {
  background: url('../images/pic03.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 30rem;
}
@media only screen and (max-width: 500px) {
  .skills .skills-three .pic-3 {
    width: 100%;
    height: 15rem;
  }
}
.skills h3 {
  font-size: 2rem;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .skills h3 {
    font-size: 1.2rem;
  }
}
.skills p {
  font-size: 1.8rem;
  margin-top: 2rem;
  text-align: center;
  line-height: 1;
}
@media only screen and (max-width: 500px) {
  .skills p {
    font-size: 0.8rem;
    margin-top: 3rem;
  }
}
.history {
  height: auto;
  margin: 10rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 500px) {
  .history {
    margin: 5rem 0;
  }
}
.history h3 {
  font-size: 6rem;
  margin-bottom: 10rem;
}
@media only screen and (max-width: 500px) {
  .history h3 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
  }
}
.history-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.history-content h3 {
  font-size: 4rem;
  margin: 1rem 0;
}
@media only screen and (max-width: 500px) {
  .history-content h3 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
}
.history-content .year {
  font-size: 3rem;
  margin: 0 2rem;
}
@media only screen and (max-width: 500px) {
  .history-content .year {
    font-size: 1.5rem;
    margin: 2rem 2rem;
  }
}
.history-content p {
  text-align: left;
  padding: 2rem;
  font-size: 2rem;
}
@media only screen and (max-width: 500px) {
  .history-content p {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
  }
}
.history-content-info {
  margin: 0 10rem;
  line-height: 5rem;
}
@media only screen and (max-width: 500px) {
  .history-content-info {
    line-height: 1.5;
    margin: 0 1rem;
    margin-bottom: 5rem;
  }
}
.contact {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}
.contact label {
  color: #FDFDFD;
  font-size: 2rem;
  margin: 2rem 0;
}
.contact input {
  width: 50rem;
  padding: 2rem;
}
.contact textarea {
  width: 50rem;
  padding: 2rem;
}
@media only screen and (max-width: 500px) {
  .contact label {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .contact input {
    width: 25rem;
  }
  .contact textarea {
    width: 25rem;
  }
}
footer {
  height: 30rem;
  background-color: #0F1211;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  footer {
    height: 20rem;
  }
}
footer .contact-info p {
  color: #FDFDFD;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  margin-bottom: 2rem;
}
footer .contact-info address {
  color: #FDFDFD;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  line-height: 3rem;
}
@media only screen and (max-width: 500px) {
  footer .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .contact-info p {
    font-size: 1.2rem;
  }
  footer .contact-info address {
    font-size: 1.2rem;
  }
}
footer .contact-social {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact-social p {
  font-size: 4rem;
  margin: 2rem;
}
@media only screen and (max-width: 500px) {
  footer .contact-social p {
    font-size: 2rem;
  }
}
